/* ====================================== TABLET ============================================= */

@media screen and (min-width: 769px) {
    /* ======================== HEADER ============================= */
    .header::after {
        display: none;
    }

    #nav {
        justify-content: end;
        margin-bottom: 86px;
    }

    .nav__drop-down {
        display: none;
    }

    .nav__items {
        display: flex;
        gap: 40px;
        margin-right: 40px;
    }

    .nav__item {
        padding: 0;
    }

    .nav__item:hover {
        background-color: transparent;
        color: var(--red-color);
    }

    .header {
        padding-right: 40px;
        padding-left: 84px;
    }

    .header__intro {
        max-width: 665px;
    }

    .header__intro > h1 {
        text-align: left;
        font-size: 56px;
        line-height: 74px;
    }

    .header__intro > p {
        text-align: left;
        font-size: 16px;
        line-height: 28px;
    }

    .header__input {
        margin: 0;
    }

    .header__input > input {
        padding-right: 140px;
    }

    .header__register {
        width: 114.33px;
        top: 6px;
        right: 5.04px;
        bottom: 6px;
    }

    /* ============================= CONTAINER ========================== */
    #container {
        padding: 0;
    }

    .col-md-6 {
        width: 50%;
    }

    /* ---------------------------- PROCESS ----------------------------- */
    .process {
        padding-top: 120px;
        padding-bottom: 58px;
    }

    .process__title > h1 {
        font-size: 36px;
        line-height: 49px;
    }

    .process__title > p {
        font-size: 24px;
        line-height: 40px;
        padding: 0px 86px;
        margin-top: 30px;
        margin-bottom: 90px;
    }

    .process__items {
        flex-direction: row;
        gap: 0;
        flex-wrap: wrap;
        padding: 0px 130px;
        margin: 0 -116px;
        padding: 0px 188px;
    }

    .process__item {
        margin-bottom: 82px;
        padding: 0 58px;
    }

    .process__item-1 {
        order: 1;
    }

    .process__item-2 {
        order: 2;
    }

    .process__item-3 {
        order: 4;
    }

    .process__item-4 {
        order: 3;
    }

    .process__item-5 {
        order: 6;
    }

    .process__item-6 {
        order: 5;
    }

    /* ---------------------- BENEFITS -------------------------- */
    .benefits {
        margin: 0;
        padding: 35px 55px 40px;
    }

    .benefits__title > h1 {
        font-size: 48px;
        line-height: 64px;
    }

    .benefits__title > p {
        font-size: 18px;
    }

    .benefits__items {
        flex-direction: row;
        gap: 35px;
    }

    .benefits__item {
        font-size: 14px;
        line-height: 22px;
        text-align: left;
    }

    /* ---------------------- DISCOVER ---------------------- */
    .discover {
        padding: 160px 60px;
    }

    .discover__item {
        display: flex;
        margin: 0 -56px;
        padding: 0px 28px;
        align-items: stretch;

    }

    .discover__item > div {
        padding: 0px 28px;
    }

    .discover__item:last-child {
        flex-direction: row-reverse;
        margin-top: 120px;
    }

    .discover__detail > h2 {
        font-weight: 700;
        font-size: 58px;
        line-height: 60px;
        margin-top: 0;
        text-align: left;
    }

    .discover__detail > p {
        text-align: left;
        margin-top: 20px;
        margin-bottom: 46px;
    }

    .discover__btn {
        width: 160px;
    }

    /* ------------------------ REFERENCES ---------------------- */
    #references {
        padding-top: 45px;
        padding-bottom: 73px;
    }

    .references {
        flex-direction: row;
    }

    .references__title > h1 {
        font-weight: 800;
        font-size: 48px;
        line-height: 64px;
    }

    .references__title > p {
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        margin-top: 5px;
        margin-bottom: 48px;
    }

    .reference:nth-child(4), .reference:last-child {
        display: flex;
    }

    /* ---------------------- CONTACT US ------------------------ */
    .contact {
        padding: 160px 0px;
    }

    .contact > img {
        width: 120px;
    }

    .contact__title > h2 {
        font-size: 48px;
        margin-top: 10px;
    }

    .contact__title > p {
        font-size: 18px;
        margin-top: 20px;
    }

    .contact__btn {
        margin-top: 30px;
        padding: 25px 40px;
        font-size: 24px;
    }

    /* ==================================== FOOTER ===================================== */
    #footer  {
        padding: 80px 60px 70px;
        gap: 50px;
    }

    .footer__lists {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer__des {
        flex-direction: row;
        align-items: center;
    }
}

/* ========================================= DESKTOP ============================================== */
@media screen and (min-width: 1025px) {
    .header {
        padding-right: 122px;
        padding-left: 122px;
    }

    .header__intro > h1 {
        font-size: 64px;
        line-height: 82px;
    }

    .header__intro > p {
        font-size: 20px;
        line-height: 36px;
    }

    .header__input {
        max-width: 502px;
    }

    .header__register {
        right: 6px;
    }

    /* ============================= CONTAINER ========================== */
    .col-lg-4 {
        width: calc(100% / 3);
    }

    .col-lg-6 {
        width: 50%;
    }

    /* ---------------------------- PROCESS ----------------------------- */
    .process {
        padding-bottom: 78px;
    }

    .process__title > h1 {
        font-size: 36px;
        line-height: 49px;
    }

    .process__title > p {
        font-size: 24px;
        line-height: 40px;
        padding: 0px 86px;
    }

    .process__items {
        flex-direction: row;
        gap: 0;
        flex-wrap: wrap;
        padding: 0px 143px;
    }

    .process__item {
        flex-basis: calc(100% / 3);
        margin-bottom: 82px;
        padding: 0px 58px;
    }

    .process__item-1 {
        order: 1;
    }

    .process__item-2 {
        order: 2;
    }

    .process__item-3 {
        order: 5;
    }

    .process__item-4 {
        order: 4;
    }

    .process__item-5 {
        order: 6;
    }

    .process__item-6 {
        order: 3;
    }

    /* ---------------------- BENEFITS -------------------------- */
    .benefits {
        padding: 68px 174px 78px;
    }

    .benefits__title > p {
        margin-bottom: 64px;
    }

    .benefits__items {
        flex-direction: row;
        gap: 45px;
    }

    .benefits__item {
        font-size: 14px;
        line-height: 22px;
        text-align: left;
    }
    
    /* ---------------------- DISCOVER ---------------------- */
    .discover {
        padding: 160px 122px;
    }

    .discover__detail > h2 {
        font-size: 64px;
        line-height: 76px;
    }

    .discover__detail > p {
        font-size: 16px;
        line-height: 32px;
        margin-top: 40px;
        margin-bottom: 80px;
    }

    /* ---------------------- REFERENCES -------------------------- */
    #references {
        padding-top: 59px;
        padding-bottom: 59px;
    }

    /* ============================= FOOTER =================================== */
    #footer {
        padding: 80px 104px 70px;
    }

    .footer__lists {
        justify-content: start;
        gap: 100px;
    }
}
